@model CarsCms.ViewModels.VMCars

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        @if (Model.ShowIfAuth)
            {
            <th>
                @Html.DisplayNameFor(model => model.Car.DateCreate)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.DateMod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.IsActive)
                </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.ModPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.RegistrationNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CarList)
    {
        <tr>
            @if (Model.ShowIfAuth)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateMod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
